# /etc/pve/ha/resources.cfg (proposition de Lucas)
vm: 100
	comment base de données MédiAgenda (recette)
	max_relocate 1
	max_restart 1
	state started

vm: 101
	comment frontal web 1
	state started

vm: 102
	comment frontal web 2
	state started

vm: 103
	comment frontal web 3 (licence liée à hv02)
	state started

vm: 104
	comment frontal web 4
	state started
