# /etc/pve/ha/rules.cfg (proposition de Lucas)
node-affinity: bdd-sur-nvme
	nodes hv01
	resources vm:100,vm:103
	strict 1

node-affinity: licence-hv02
	nodes hv02
	resources vm:103

resource-affinity: web-separes
	affinity negative
	resources vm:101,vm:102,vm:103,vm:104
