# storage.cfg corrigé (M09-E21)
dir: local
	path /var/lib/vz
	content iso,vztmpl,backup,import

lvmthin: local-lvm
	thinpool data
	vgname pve
	content images,rootdir

zfspool: zfs-local
	pool tank
	content images,rootdir
	sparse 1

rbd: ceph-vm
	content images
	krbd 0
	pool ceph-vm

rbd: ceph-par1-rbd
	content images
	krbd 0
	monhost 10.10.30.51 10.10.30.52 10.10.30.53
	pool hv-recette
	username hv-recette

pbs: pbs-par2
	datastore ds-lab
	server 10.20.10.10
	content backup
	fingerprint <EMPREINTE-SHA256-DE-PBS01>
	namespace par1/recette
	prune-backups keep-all=1
	username wb-recette@pbs!hv-recette
	encryption-key <empreinte de la clé, posée par pvesm --encryption-key autogen>
